In [ ]:
!sudo apt-get install -y fonts-Nanum!
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

## 가장 무더웠던 날이 언제이며 이날의 평균기온,평균풍속,최대풍속을 구하시오

In [ ]:
#시각화 모듈
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import matplotlib as mat

In [ ]:
#코랩에서 데이터 파일을 사용하기 위해 직접 업로드하는 코드
from google.colab import files
file_uploaded=files.upload()

In [ ]:
#파일 읽기
df = pd.read_csv('weather.csv',encoding = 'CP949')#CP949(확장)
df

In [ ]:
#전체 행과 열 속성파악
df.shape

(3653, 4)

In [ ]:
df.head()

In [ ]:
df.info()#0 to 3652 이거 잘봐

In [ ]:
#데이터프레임 통계 문자빼고
df.describe()#상위 25%퍼센트

In [ ]:
#결측치 구하기
df.isnull().sum()#값이 비어있으면 트루
#df['최대풍속'].isnull().sum()

In [ ]:
#평균풍속 최소값
print("평균풍속 최소값은",df['평균풍속'].min(),"m/m입니다")

In [ ]:
#결측치 제거
#drop_duplicates 중복제거
df2 = df.dropna(how = 'any')
df2.info

In [ ]:
#가장 무더웠던 날
hot = df2['평균기온'].max()
hot

In [ ]:
hotday = df2['일시'][df2['평균기온']==hot]
hotday
print(f"가장 더웠던 날은 {hotday[1103]}로 {hot}도 입니다")

In [ ]:
hotday2 = str(hotday)
hotday2 = hotday2[8:18]
print(hotday2)

In [ ]:
hottest = df2.loc[df2['평균기온']==hot]
print("가장 무더웠던 날")
print("=" * 50)
hottest

가장 무더웠던 날
==================================================

              일시  평균기온  최대풍속  평균풍속
1103  2013-08-08  31.3   7.8   4.6

#2.울릉도의 평균기온이 30도가 넘는 날을 찾아, 이날의 기상데이터를 나열해보시오.

In [ ]:
hottest2 = df2.loc[df2['평균기온']>=30]
print("평균기온이 30도가 넘는 날")
print("=" * 50)
hottest2

평균기온이 30도가 넘는 날
==================================================

              일시  평균기온  최대풍속  평균풍속
1103  2013-08-08  31.3   7.8   4.6
1104  2013-08-09  30.6   9.9   6.4
1105  2013-08-10  30.6   7.4   3.8
2913  2018-07-23  30.5   6.5   1.6
2925  2018-08-04  30.3   5.8   3.0

#3.울릉도는 몇 월에 바람이 가장 강할까?

In [ ]:
#df2['일시'].str[5:7]#월
#df2['일시'].str[7:]#일

df2['월'] = df2['일시'].str[5:7] #월속성 추가

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

              일시  평균기온  최대풍속  평균풍속   월
0     2010-08-01  28.7   8.3   3.4  08
1     2010-08-02  25.2   8.7   3.8  08
2     2010-08-03  22.1   6.3   2.9  08
3     2010-08-04  25.3   6.6   4.2  08
4     2010-08-05  27.2   9.1   5.6  08
...          ...   ...   ...   ...  ..
3648  2020-07-27  22.1   4.2   1.7  07
3649  2020-07-28  21.9   4.5   1.6  07
3650  2020-07-29  21.6   3.2   1.0  07
3651  2020-07-30  22.9   9.7   2.4  07
3652  2020-07-31  25.7   4.8   2.5  07

[3646 rows x 5 columns]

In [ ]:
#월별로 묶기
re = df2.groupby('월')['평균풍속'].mean()
re.min()

3.461

In [ ]:
type(re)

In [ ]:
re2 = re.index[re == re.max()]
re2 = re.index[re == re.max()].tolist()
print(f'울릉도는 {re2[0]}월에 가장 바람이 강합니다.')

울릉도는 04월에 가장 바람이 강합니다.

In [ ]:
# X 월
# Y 평균풍속
# 막대그래프 출려구 자료구조 변환 ->
y = re.tolist()
x = re.index.tolist()
plt.title('월별 풍속')
plt.bar(x,y,align = 'center', alpha = 0.5)
plt.xlabel('월')
plt.ylabel('풍속')

for i in range(0,len(x)):
  if re.max() == y[i]:
    plt.text(i,y[i],round(y[i],1),ha='center',color='r')
  else:
    plt.text(i,y[i],round(y[i],1),ha='center')
plt.show()